---
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
import { getSlugFromPath } from "../../utils/get-slug-from-path";

export async function getStaticPaths() {
    const allDocs = await Astro.glob('../../content/**/*.md');
    const paths = allDocs.map((doc) => {
        const slug = getSlugFromPath(doc.file);
        return {
            params: {
                slug,
            },
            props: { doc },
        }
    });
    return paths;
}

const { doc } = Astro.props;

---

<Layout title={doc.frontmatter.title}>
    <Header />

    <article class="mx-auto prose lg:prose-xl prose-pre:p-1 py-8 lg:prose-h2:my-4 prose-stone">
        <a href="/" class="font-medium hover:text-blue-500 no-underline">← Вернуться на главную</a>
        <doc.Content />
    </article>
</Layout>