---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";


const docsGeneral = await Astro.glob("../content/general/*.md");
const docsResources = await Astro.glob("../content/resources/*.md");
---

<Layout title="API Docs">
	<Header />
	<main class="flex flex-col gap-4 prose lg:prose-xl mx-auto">
		<div class="flex flex-col gap-2">
			<h2 class="text-3xl border-b py-2 border-dotted">General</h2>
			<div class="flex flex-col gap-2">
				{docsGeneral.map((doc) =>
				<Link doc={doc} />)}
			</div>
		</div>
		<div class="flex flex-col gap-2">
			<h2 class="text-3xl border-b py-2 border-dotted">Resources</h2>
			<div class="flex flex-col gap-2">
				{docsResources.map((doc) =>
				<Link doc={doc} />)}
			</div>
		</div>
	</main>
</Layout>