---

---

<header class="py-4">
    <div class="max-w-2xl mx-auto flex flex-row justify-between items-center">
        <a href="/" class="hover:scale-105 transition-all">
            <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="75" height="75" fill="#58595B" />
                <rect x="3.125" y="3" width="68.75" height="68.75" fill="white" />
                <rect x="6.625" y="6.625" width="61.875" height="61.875" fill="#58595B" />
                <path d="M9.9375 48.6875V65.0625H13.25V58.5625H22.9375V65.0625H26.25V48.6875H9.9375Z" fill="white" />
                <path d="M49 48.625V65H52.3125V58.5H62V65H65.3125V48.625H49Z" fill="white" />
                <path d="M13.1875 55.1875V52H23V55.1875H13.1875Z" fill="#58595B" />
                <path d="M52.25 55.1875V52H62.0625V55.1875H52.25Z" fill="#58595B" />
                <path d="M55.5 61.75L58.875 61.75L58.875 68.5L55.5 68.5L55.5 61.75Z" fill="white" />
                <path d="M32.75 45.5625H29.4375V29.1875H45.75V39H32.75V45.5625Z" fill="white" />
                <path d="M29.5 65.0625H32.75V58.5H42.5V65.0625H45.9375V42.1875H42.5V55.1875H32.75V48.6875H29.5V65.0625Z"
                    fill="white" />
                <path
                    d="M32.8125 9.625H29.4375V26.0625H39.25V12.9375H42.5V26.0625H45.875V9.625H36V22.625H32.8125V9.625Z"
                    fill="white" />
                <path
                    d="M13.375 29.125H10V45.5625H19.8125V32.4375H23.0625V45.5625H26.4375V29.125H16.5625V42.125H13.375V29.125Z"
                    fill="white" />
                <path
                    d="M52.25 29.25H48.875V45.6875H58.6875V32.5625H61.9375V45.6875H65.3125V29.25H55.4375V42.25H52.25V29.25Z"
                    fill="white" />
                <path d="M48.9375 26.0625V9.625H65.3125V13H52.375V16.1875H65.3125V26.0625H48.9375Z" fill="white" />
                <path d="M52.25 22.6875V19.4375H62.0625V22.6875H52.25Z" fill="#58595B" />
                <path d="M32.625 35.75V32.5H42.4375V35.75H32.625Z" fill="#58595B" />
                <path d="M26.1875 9.625V12.9375H13.3125V22.6875H26.1875V25.9375H10V9.625H26.1875Z" fill="white" />
            </svg>
        </a>
        <h1>Документация API (beta)</h1>
    </div>
</header>