---
export interface LinkProps {
    doc: any;
}

import { getSlugFromPath } from "../utils/get-slug-from-path";

const { doc } = Astro.props as LinkProps
const url = '/docs/' + getSlugFromPath(doc.file)
---

<a href={url} class="font-medium text-blue-600 hover:underline">{doc.frontmatter.title}</a>